# See https://pre-commit.com for more information
# See https://pre-commit.ci for more information
ci:
  skip: [prettier]
  autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext", "md"]
      - id: check-json
      - id: pretty-format-json
        args: [--autofix, --indent, "\t", --no-ensure-ascii]

  - repo: https://github.com/pre-commit-ci/pre-commit-ci-config
    rev: v1.6.1
    hooks:
      - id: check-pre-commit-ci-config

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: corepack pnpx prettier --cache --ignore-unknown --write
        language: system

  - repo: https://github.com/fsfe/reuse-tool
    rev: v6.0.0
    hooks:
      - id: reuse
